/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    cursor: default;
}

/* UTILITIES */
.text-align_r {
    text-align: right;
}

.text-align_c {
    text-align: center;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* .float_r {
    float: right;
} */

.float_l {
    float: left;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.container_80 {
    width: 80%;
    margin: 0 auto;
}

.container_70 {
    width: 70%;
    margin: 0 auto;
}

.w_50 {
    width: 50%;
}

.w_100 {
    width: 100%;
}

.px_40 {
    padding: 0 40px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mt_30 {
    margin-top: 30px;
}

.mb_50 {
    margin-bottom: 50px;
}

.mt_50 {
    margin-top: 50px;
}

.mb_150 {
    margin-bottom: 150px;
}

.mt_150 {
    margin-top: 150px;
}

.display_b {
    display: block;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
    margin: 30px 0;
}

h4 {
    font-size: 1.3em;
    margin-bottom: 20px;
}

h5 {
    font-size: 1em;
}
h6 {
    font-size: 1em;
    font-weight: 600;
    border-bottom: 2px solid #d0d0d3;
    padding: 15px 0;
}

span {
    font-size: 0.8em;
}

p {
    line-height: 1.5em;
}

i {
    padding-right: 10px;
}

hr {
    width: 10%;
}

.radio {
    position: relative;
    padding-left: 30px;
    margin-right: 20px;
}

.radio input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    border: 1px solid gray; 
    border-radius: 50%;
}


.radio input:checked ~ .radiomark {
    background-color: #0093ce;
    border: none;
}

.radiomark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .radio input:checked ~ .radiomark:after {
    display: block;
  }

  .radio .radiomark:after {
      top: 50%;
      left: 50%;
      transform: translate(-45%, -50%);
      width: 10px;
      height: 55%;
      background-color: white;
      border-radius: 50%;
  }

.color_gray {
    color: #697986;
}

.bg_red {
    background-color: #d5001f;
}

.bg_cocacola-red {
    background-color: #ff1c1c;
}

.bg_dark-blue {
    background-color: #0d2481;
}

.bg_light-green {
    background-color: #a2d39b;
}

.bg_yellow {
    background-color: #ffd830;
}

.bg_sky-blue {
    background-color: #b4d0e7;
}

.bg_dodger-blue {
    background-color: #0093ce;
}

.bg_dark-red {
    background-color: #61082b;
}

/* HEADER */
header {
    line-height: 80px;
    width: 100%;
}

header .logo {
    width: 12%;
    text-align: center;
}

header .logo img {
    vertical-align: middle;
    padding: 2px 0;
}

header nav {
    width: 44%;
    padding: 0 20px;
}

header ul li {
    display: inline-block;
    list-style-type: none;
}

header ul li a:not(.button, .logo_link) {
    margin-right: 40px;
    padding: 2px 0;
}

a.button {
    padding:10px 20px;
    line-height: 0.9em;
    text-align: center;
}

.blue_button {
    background-color: #0061ff;
    color: white;
}

.white_button {
    border: 1px solid black;
    background-color: white;
}

/* MAIN */
/* JUMBOTRON */
.jumbotron {
    background-color: #b4d0e7;
}

.jumbotron > .container_80 {
    position: relative;
    bottom: -70px;
}

.jumbotron_text {
    width: 30%;
    margin-right: 5%;
}

.jumbotron_image {
    width: 65%;
}

.jumbotron_text > .button {
    margin-bottom: 20px;
}

.jumbotron_text a i {
    font-size: 2.5em;
    transform: translateY(0)
}

/* RATE PLAN */
.gray_border {
    border: 2px solid #d0d0d3;
}

.col.rate_option {
    width: 30%;
}

.plan_options > .col.rate_option:nth-child(2) {
    margin: 0 5%;
}

.rate_plan > h2 {
    margin-bottom: 75px;
}

.rate_plan .plan_options .button,
.rate_plan .office_contact .button {
    width: 100%;
    font-size: 0.8em;
    font-weight: 600;
}

.rate_plan .office_contact h3 {
    width: 70%;
}

.rate_plan .office_contact .button {
    width: 27%;
    margin-right: 3%;
}

.rate_plan i {
    font-size: 1.5em;
}

.col.rate_option ul {
    margin: 30px 0 50px;
    font-size: 0.8em;
}

.plan_options .col.rate_option ul li {
    display: inline-block;
    list-style-type: none;
    width: 100%;
    margin: 15px 20px;
}

.blue_underline {
    color: #0564ff;
    text-decoration: underline;
}

.plan_options .col.rate_option hr {
    width: 20%;
    color: #d0d0d3;
    margin-bottom: 35px;
}

.check_list li i {
    color: #0564ff;
}

.find_team > .col_image {
    width: 55%;
    margin-right: 5%;
}

.find_team > .col_text {
    width: 40%;
}

/* DROPBOX FUNCTIONS */
.col_function {
    width: 25%;
    margin-bottom: 125px;
}

.col_function p > span {
    font-size: 1em;
    text-decoration: underline;
}

.dropbox_functions .col_function:nth-child(2),
.dropbox_functions .col_function:nth-child(5) {
    margin: 0 12.5%;
}

/* AGENCIES */
.agencies  h2 {
    margin-right: 50%;
}

.agencies aside {
    width: 30%;
}

.agencies .col_text {
    width: 40%;
    padding: 50px;
    font-size: 0.8em;
    background-color: #f5f5f5;
    height: calc(100vh / 1.75);
}

.agencies .col_text > img {
    width: 25%;
}

.agencies .col_text hr {
    color: #e6e6e7;
}

.agencies .card_brand {
 padding: 0 40px;
 line-height: calc(100vh / 3.5);
}

.agencies .card_brand img {
    width: 100%;
    vertical-align: middle;
    filter: invert(100);
}

.agencies > div:last-child h2 {
    width: 45%;
    margin-right: 20%;
    color: #61082b ;
}

.agencies > div:last-child .button {
    width: 25%;
    margin-right: 10%;
}

/* FAQs */
.faqs .question {
    padding: 30px 0;
    font-weight: 900;
    border-top: 1px solid #dcdcde;
    position: relative;
}

.faqs .question:last-child {
    border-bottom: 1px solid #dcdcde ;
}

.faqs .question h5 {
    width: 90%;
}

.faqs .question .down_arrow {
    font-size: 1.1em;
    width: 10%;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding-bottom: 50px;
}

footer a {
    color: white;
}
footer .footer_col {
    width: 20%;
}

footer .footer_col ul li {
    list-style-type: none;
    padding: 5px 0;
    font-size: 0.8em;
}

footer span.language {
    color: #666666;
}

footer i {
    padding-right: 5px;
}

footer .language i:last-of-type {
    padding-left: 10px;
}

/* ANIMATIONS */
html {
    scroll-behavior: smooth;
}

.faqs i:hover {
    cursor: pointer;
}

header a:not(.button, .logo_link):hover {
    border-bottom: 2px solid black;
    padding: 0;
}

footer a:hover {
    text-decoration: underline;
}


.white_button:hover {
    background-color: #dcdcdc;
}

.blue_button:hover {
    background-color: #2d7cfa ;
}

.card_brand:hover {
    border: 2vh solid rgba(255, 255, 255, 0.5);
    height: calc(100vh / 3.5);
    line-height: calc(100vh / 3.5 - 4vh);
}

.jumbotron_text i:hover {
    animation: move_down 2s infinite linear;
}

@keyframes move_down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%)
    }
    100% {
        transform: translateY(0);
    }
}

.faqs .question .answer {
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: white;
    font-weight: 300;
    overflow: hidden;
    z-index: 1;
    padding: 30px 0;
    border-bottom: 1px solid gray;
    display: none;
}

.faqs .question:hover .answer {
    display: block;
}

