/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

/* UTILITIES */
.text-align_r {
    text-align: right;
}

.text-align_c {
    text-align: center;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.float_r {
    float: right;
}

.float_l {
    float: left;
}

a {
    display: inline-block;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: dodgerblue;
}

.w_50 {
    width: 50%;
}

.w_100 {
    width: 100%;
}

.px_20 {
    padding: 0 20px;
}

.display_b {
    display: block;
}


/* HEADER */
header {
    line-height: 80px;
    width: 100%;
}

header div {
    display: inline-block;
}

header .logo {
    width: 12%;
    text-align: center;
}

header .logo img {
    vertical-align: middle;
}

header nav {
    width: 44%;
    padding: 0 20px;
}

header ul {
    display: inline-block;
}
header ul li {
    display: inline-block;
    text-decoration: none;
}

/* MAIN */
/* JUMBOTRON */
.jumbotron {
    background-color: green;
}

.jumbotron > .container {
    position: relative;
    bottom: -80px;
}
.jumbotron_image {
    height: 400px;
    background-color: red;
}

.jumbotron h1 {
    margin-bottom: 45px;
}

.jumbotron_text {
    width: 35%;
    margin-right: 5%;
}

.jumbotron_image {
    width: 60%;
}
